@import "./base/police.scss";
@import "./layout/Loader.scss";
@import "./layout/header.scss";
@import "./base/colors.scss";
@import "./layout/footer.scss";

//****** Booking ******
.booking{
    display: flex;
    flex-direction: column;
}
.search-location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 45px;
}
.logo-search{
    padding-right: 15px;
}
.city-location{
    font-family: 'Roboto', cursive;
    font-weight: bold;
}
.description-booking{
    display: flex;
    align-items: center;
    flex-direction: column ;
    background-color: rgb(245, 245, 245);
}
#title-booking
{
    font-family: 'Roboto', cursive;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    width:70%;
    margin-top:45px
}
#p-booking{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    margin: 0 0 25px 0;
}
.search-button{
    
    padding: 15px 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', cursive;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background: linear-gradient(142deg, rgba(231,113,218,1) 0%, rgba(147,86,220,1) 100%);
        &:hover{
            transition: all 0.2s ease-in-out;
            transform: scale(1.1);
        } 


// ****** Opération ******        
}
.operation{
    display: flex;
    flex-direction: column;
    
}
.operation-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', cursive;
    margin: 40px 0px 30px 20px;
}
.menu-operation{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: transparent solid 1px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    text-align: center;
    width: 300px;
    height: 65px; 
    &:hover{   
        background-color: #f1e7ff;
     } 
}
.button-number{
    display: flex;
    position: absolute;
    left: -15px;
    justify-content: flex-start;
    align-content: center;
    border: transparent solid 1px;
    border-radius: 50%;
    width: 3%;
    background-color: $color-1;
    color: white;
    padding: 8px 12px 6px 12px;
}
.button-icone{
    display: inline;
    align-content: center;
    margin: 0 20px;
    padding: 0px;
    
}
.button-title{
    display: inline;
    font-family: 'Roboto', cursive;
    font-weight: bold;
}


// ****** Menu ******

.menu{
   
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}
#menu-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', cursive;
    margin: 40px 0px 30px 20px;
}
.all-box{
    
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    margin: 5%;

    img{
        width: 100%;
        height: 230px;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
        h2{
        font-family: 'Roboto', cursive;
        font-weight: bold;
        margin-left: 15px;
    }
            p{
                font-family: 'Roboto', cursive;
                margin: 0 0 15px 15px;
                padding-bottom: 20px;
                font-size: 24px;
                line-height: 0;
            }
            a{
                text-decoration: none;
                color: black;
            }
}
.menu-new{
    display: flex;
    position: absolute;
    top:20px;
    right: 20px;
    background-color: $color-3;
    color: #21866d;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px 25px 20px 25px;
}

.heart {
    display: flex;
    position: absolute;
    bottom: 35px;
    right: 50px;
    opacity: 1;
    font-size: 2em;
}
.heart:hover {
    opacity: 0;
}
.heart-like {
    display: flex;
    position: absolute;
    bottom: 34px;
    right: 48px;
    font-size: 2.2em;
    opacity: 0;
    
}
.heart-like:hover {
    opacity: 1;
    transition: 0.5s;
    background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.heart-like:active {
    opacity: 1;
    background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} 

@media screen and (min-width:900px){
    .all-box{
        flex-direction: unset;
        flex-wrap: wrap;
        .box-menu{
            width: 40%;
        }
    }
}
@media screen and (min-width:1150px) {
    .menu-operation{
        flex-direction: row;
        justify-content: center;
    }
    
}


    





