@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./base/colors.scss";
@import "./utils/mixin.scss";
@import "./utils/keyframes.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.arrow{
    position: absolute;
    top:20px;
    left: 35px;
    font-size: 1.5em;
    @include format-a;
}
.restaurant{
    position: relative;
    margin-bottom: -50px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
    }
}
.menu{
    display: flex;
    flex-direction: column;
    background-color:#e4e4e4 ;
    border-radius: 50px 50px 0 0;
    position: relative;
    top: -50px;
    h1{
        font-size: 1.5em;
        font-family: 'Shrikhand';
        font-weight: lighter;
        width: 61%;
        margin: 27px 0 0 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }
    .heart {
        display: flex;
        position: absolute;
        top: 29px;
        right: 50px;
        opacity: 1;
        font-size: 2em;
    }
    .heart:hover {
        opacity: 0;
    }
      
    .heart-like {
        display: flex;
        position: absolute;
        top: 27px;
        right: 48px;
        font-size: 2.2em;
        opacity: 0;
        
    }
    .heart-like:hover {
        opacity: 1;
        transition: 0.5s;
        background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heart-like:active {
        opacity: 1;
        background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    } 

}
.box-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    animation:loading 2s 1s 1 alternate backwards;
        h2{
        font-family: 'Roboto',cursive;
        font-weight: lighter; 
        margin-left: 20px; 
        }
        .border{
        border: $color-3 solid 3px;
        width: 6%;
        margin-top: -14px;
        margin-left: 20px; 
         } 
    .dish-validation{
        display: flex;
        width: 100%;
        &:hover{
            .validation{
                opacity: 1;
                animation-name: move-validation;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                .circle{
                    transform: rotate(180deg);
                }
            }
            .price{
                animation-name: move-price;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }
            .sub-txt{
                animation-name: move-p;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }
        }
    

        .dish{
        display: flex;
        flex-direction: column;
        background: white;
        width: 97%;
        height: 75px;
        margin: 10px 11px 5px 11px;
        border-radius: 20px;
                
             h3{
            font-family: 'Roboto', cursive;
            font-size: 1.1em;
            width: 70%;
            margin: 10px 0 0 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;  
          }

            .sub-txt{
            font-family: 'Roboto', cursive;
            font-size: 1em;
            width: 70%;
            margin: 13px 0 0 10px;
            line-height: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }

            .price{
            display: flex;
            justify-content: flex-end;
            font-family: 'Roboto', cursive;
            font-weight: bold;
            margin: -18px 26px 0 0;
            width: 95%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            }

        }
        .validation{
         display: flex;
         width: 70px;
         height: 75px;
         font-size: 1.7em;
         background: $color-3;
         color: whitesmoke;
         justify-content: center;
         align-items: center;
         margin: 10px 0 0 0;
         border-radius: 0 20px 20px 0 ;
         position: absolute;
         right: -62px;
         opacity: 0;
            .circle{
                transition: all 1s ease-in-out;
                rotate: 180deg;
            }              
        }
    }
}

.order-button{
    text-align: center;
    margin: 5% 0 5% 30% ;
    padding: 15px 10px;
    width: 35%;
    border-radius: 50px;
    font-family: "Roboto", cursive;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background: linear-gradient(142deg, #e771da 0%, #9356dc 100%);
    &:hover{
        transition: all 0.2s ease-in-out;
        transform: scale(1.1);
        box-shadow:0 3px 3px 3px rgb(175, 175, 175);
    }
}
#legal{
    margin-left: 0px;
    padding-bottom: 10px;
}
#contact{
    margin-left: 0px;
}

