
@keyframes loading{
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
        
    }
}

@keyframes move-validation{
    0%{
        width: 0%;
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    50%{
        opacity: 0.8;
    }
    100%{
       width: 15%;
    }
}


@keyframes move-price{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-20%);
    }
}

@keyframes move-p{
    0%{
        width: 70%;
    }
    100%{
        width: 50%;
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes flash {
    0%{
        color:$color-2;
        text-shadow: 0 0 7px $color-1;
    }
    90%{
        color:$color-3;
        text-shadow: none;
    }
    100%{
        color:$color-2;
        text-shadow: 0 0 7px $color-1;
    }
    
}
@keyframes time-loader {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@media screen and (min-width:900px){
    @keyframes move-validation{
        0%{
            width: 0%;
            opacity: 0;
        }
        10%{
            opacity: 0;
        }
        50%{
            opacity: 0.8;
        }
        100%{
           width: 15%;
        }
    }
    @keyframes move-price{
        0%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(-15%);
        }
    }
    @keyframes move-p{
        0%{
            width: 70%;
        }
        100%{
            width: 70%;
        }
    }
}