@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.head-title {
  width: 100%;
  height: 100%;
  font-size: 35px;
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
}

footer {
  background-color: #3f3f3f;
  padding-top: 15px;
  padding-bottom: 30px;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: lighter;
  margin-left: 25px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-left: 25px;
}

.shop {
  padding-bottom: 10px;
  color: whitesmoke;
}

.fa-utensils {
  margin-right: 10px;
}

.link-footer {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 3px;
  font-weight: bold;
  font-family: "Roboto", cursive;
}

.partener {
  padding-bottom: 10px;
  color: whitesmoke;
}

.fa-hands-helping {
  margin-right: 4px;
}

#legal {
  margin-left: 30px;
  padding-bottom: 10px;
}

#contact {
  margin-left: 30px;
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-validation {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes move-price {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20%);
  }
}
@keyframes move-p {
  0% {
    width: 70%;
  }
  100% {
    width: 50%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    color: #FF79DA;
    text-shadow: 0 0 7px #9356DC;
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
  }
  100% {
    color: #FF79DA;
    text-shadow: 0 0 7px #9356DC;
  }
}
@keyframes time-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 900px) {
  @keyframes move-validation {
    0% {
      width: 0%;
    }
    100% {
      width: 15%;
    }
  }
  @keyframes move-price {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-15%);
    }
  }
  @keyframes move-p {
    0% {
      width: 70%;
    }
    100% {
      width: 70%;
    }
  }
}
.arrow {
  position: absolute;
  top: 20px;
  left: 35px;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.restaurant {
  position: relative;
  margin-bottom: -50px;
}
.restaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -50px;
}
.menu h1 {
  font-size: 1.5em;
  font-family: "Shrikhand";
  font-weight: lighter;
  width: 61%;
  margin: 27px 0 0 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu .heart {
  display: flex;
  position: absolute;
  top: 29px;
  right: 50px;
  opacity: 1;
  font-size: 2em;
}
.menu .heart:hover {
  opacity: 0;
}
.menu .heart-like {
  display: flex;
  position: absolute;
  top: 27px;
  right: 48px;
  font-size: 2.2em;
  opacity: 0;
}
.menu .heart-like:hover {
  opacity: 1;
  transition: 0.5s;
  background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu .heart-like:active {
  opacity: 1;
  background: linear-gradient(349deg, #ff79da 29%, #9356dc 59%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.all-box-dish {
  display: flex;
  flex-direction: column;
}

.box-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: loading 2s 1s 1 alternate backwards;
}
.box-menu h2 {
  font-family: "Roboto", cursive;
  font-weight: lighter;
  margin-left: 20px;
}
.box-menu .border {
  border: #99E2D0 solid 3px;
  width: 6%;
  margin-top: -14px;
  margin-left: 20px;
}
.box-menu .dish-validation {
  display: flex;
  width: 100%;
}
.box-menu .dish-validation:hover .validation {
  opacity: 1;
  animation-name: move-validation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation:hover .validation .circle {
  transform: rotate(360deg);
}
.box-menu .dish-validation:hover .price {
  animation-name: move-price;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation:hover .dish-txt {
  animation-name: move-p;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation:active .validation {
  opacity: 1;
  animation-name: move-validation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation:active .validation .circle {
  transform: rotate(-180deg);
}
.box-menu .dish-validation:active .price {
  animation-name: move-price;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation:active .dish-txt {
  animation-name: move-p;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.box-menu .dish-validation .dish {
  display: flex;
  flex-direction: column;
  background: white;
  width: 97%;
  height: 75px;
  margin: 10px 11px 5px 11px;
  border-radius: 20px;
}
.box-menu .dish-validation .dish h3 {
  font-family: "Roboto", cursive;
  font-size: 1.1em;
  width: 70%;
  margin: 10px 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-menu .dish-validation .dish .sub-txt {
  font-family: "Roboto", cursive;
  font-size: 1em;
  width: 70%;
  margin: 13px 0 0 10px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-menu .dish-validation .dish .price {
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto", cursive;
  font-weight: bold;
  margin: -18px 26px 0 0;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-menu .dish-validation .validation {
  display: flex;
  width: 70px;
  height: 75px;
  font-size: 1.7em;
  background: #99E2D0;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: 11px;
  opacity: 0;
}
.box-menu .dish-validation .validation .circle {
  transition: all 1s ease-in-out;
  transform: rotate(180deg);
}

.box-menu:nth-child(1) {
  animation-delay: 0.1s;
}

.box-menu:nth-child(2) {
  animation-delay: 0.4s;
}

.box-menu:nth-child(3) {
  animation-delay: 0.6s;
}

.order-button {
  text-align: center;
  margin: 5% 0 5% 30%;
  padding: 15px 10px;
  width: 35%;
  border-radius: 50px;
  font-family: "Roboto", cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  color: white;
  background: linear-gradient(142deg, #e771da 0%, #9356dc 100%);
}
.order-button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 3px 3px 3px #afafaf;
}

#legal {
  margin-left: 0px;
  padding-bottom: 10px;
}

#contact {
  margin-left: 0px;
}

@media screen and (min-width: 900px) {
  .menu {
    width: 100%;
    margin: 0 auto;
  }

  .box-menu {
    width: 90%;
    margin: 0 auto;
  }

  .menu-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1150px) {
  .restaurant img {
    height: 360px;
  }

  .restaurant {
    margin-bottom: -69px;
  }

  .menu {
    width: 100%;
    height: 600px;
  }

  .all-box-dish {
    flex-direction: row;
  }

  .box-menu {
    width: 34%;
  }
}

/*# sourceMappingURL=restaurants.css.map */
