@import "../base/colors.scss";
@import "../utils/keyframes.scss";

.loader-index{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 305%;
    background: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    animation: time-loader 2s ease-in-out;
    animation-fill-mode:forwards
}
.loader{
    
    width: 100px;
    height: 100px;
    position: relative;
}
.loader-p{
    position: relative;
    bottom: 31%;
    font-size: 3em;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    letter-spacing: 5px;
    color: $color-3;
    animation: flash 1.2s linear infinite;
}
.loader-p:nth-child(1){
    animation-delay: 0.1s;
}
.loader-p:nth-child(2){
    animation-delay: 0.2s;
}
.loader-p:nth-child(3){
    animation-delay: 0.3s;
}
.loader-p:nth-child(4){
    animation-delay: 0.4s;
}
.loader-p:nth-child(5){
    animation-delay: 0.5s;
}
.loader-p:nth-child(6){
    animation-delay: 0.6s;
}
.loader-p:nth-child(7){
    animation-delay: 0.7s;
}
.loader-p:nth-child(8){
    animation-delay: 0.8s;
}
.loader-p:nth-child(9){
    animation-delay: 0.9s;
}
.loader-p:nth-child(10){
    animation-delay: 1s;
}
.loader-circle{
    position: absolute;
    top: 11%;
    left: 39%;
    border-radius: 50px;
    border: 6 px soloid transparent;
    border-top-color: red;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 2s linear infinite;
    &::after{
        content: "";
        position:absolute;
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 5px solid transparent;
        opacity: 0.8;
        border-top-color: $color-3;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    &::before{
        content: "";
        position:absolute;
        top: 13px;
        left: 13px;
        bottom: 13px;
        right: 13px;
        border-radius: 50px;
        border: 5px solid transparent;
        opacity: 0.7;
        border-top-color: $color-2;
        -webkit-animation: spin 2.3s linear infinite;
        animation: spin 2.3s linear infinite;
    }
}


@media screen and (min-width:900px) {
    .loader-index{
        height: 225%;
    }
    .loader-circle{
        top:16%;
        left: 45%;
    }
    .loader-p{
        bottom:25%;
    }
    
}
@media screen and (min-width:1150px) {
    .loader-index{
        height: 215%;
    }
    
}
